<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>{% block title%}Imagica{% endblock %}</title>
</head>
<body style="background-color: #65ccb8;">
    <!-- <div class="jumbotron jumbotron-fluid bg-dark" style="margin-bottom:0">
            <h1 class="display-1 text-white">IMAGICA</h1>
            <p class="display- text-white">Basic Image Editor</p> 
    </div> -->
    <nav class = "navbar text-center navbar-expand-sm" style="background-color: #161b21;">
        <a href="#"><h1 class="text-center" style="color: #65ccb8; padding-bottom: 9%; padding-top: 9%; align-content: center;">IMAGICA</h1></a>
    </nav>
    {% block content %}
    <div class="container-fluid" style="padding-top: 12%; padding-bottom: 17;">
        <div class = "align-middle">
            <div class = "row align-items-center justify-content-center">
                <h1 class="weight-bold" style="color: #f2f2f2;">A Basic Image Editing WebApp</h1>
            </div>
            <br>
            <div class="row align-items-center justify-content-center" style="padding-top: 4%;padding-bottom: 8%">
                    <a href="enter"><button type="submit" class = "btn">Start Editing</button></a>
            </div>
        </div>    
    </div>
    
    <div class="container-fluid mt-4" style="background-color: #161b21; padding-top: 4%; padding-bottom: 20%;">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 col-sm-12 xs-12 mt-3" style="padding-left: 0%;">
                    <h1 class="text-left" style="color: #65ccb8;">Team Members:</h1>
                </div>
                <div class="col-md-4 col-sm-12 xs-12">
                        <h3 class="text-center" style="color: #65ccb8;">Manul Goyal</h3>
                </div>
                <div class="col-md-4 col-sm-12 xs-12">
                        <h3 class="text-center" style="color: #65ccb8;">Dev Lathiya</h3>
                </div>
                <div class="col-md-4 col-sm-12 xs-12">
                        <h3 class="text-center" style="color: #65ccb8;">Rajat Sharma</h3>
                </div>
                <div class="col-md-6 col-sm-12 xs-12" style="color: #65ccb8;">
                    <h3 class="text-center" style="color: #65ccb8;">Yash Chaubey</h3>
                </div>
                <div class="col-md-6 col-sm-12 xs-12" style="color: #65ccb8;">
                        <h3 class="text-center" style="color: #65ccb8;">Pushpank Katare</h3>
                    </div>
            </div>
        </div>
    </div>


    <footer class="page-footer font-small blue" style ="position: relative;bottom: 0;left: 0; width: 100%;">

        <div class="footer-copyright text-center text-white py-3" style="background-color: #161b21;">© 2019 Copyright:
              
        </div>
      
      </footer>
    {% endblock %}



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>