{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>You entered the following image</h1>
    </div>
    <div class="align-center" style="padding-top: 5%">
        <img src="{{ obj.data.url }}" class="mx-auto d-block img-fluid" alt="">
    </div>
</div>
<h1 style="padding-top: 5%; color: black;">Please Select any of the following operations:</h1>
<div class="container-fluid" style="padding-top: 3%;">
    <div class="row align-items-center">
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 9%;">GAUSSIAN BLUR</h4></div></a>        
        </div>
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 9%;">EMBOSS</h4></div></a>        
        </div>
        <div class="col">
            <a href="sharp"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 9%;">SHARPEN</h4></div></a>        
        </div>
    </div>
    <div class="row align-items-center" style="padding-top: 3%;">
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 9%;">COMPRESS</h3></div></a>        
        </div>
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 9%;">ZOOM</h3></div></a>        
        </div>
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 9%;">BOX BLUR</h3></div></a>        
        </div>
    </div>
    <div class="row align-items-center" style="padding-top: 3%;">
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 6%;">EDGE DETECTION</h3></div></a>        
        </div>
        <div class="col">
            <a href="#"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 6%;">CUSTOM KERNEL</h3></div></a>        
        </div>
    </div>
</div>

{% endblock %}